@import './config';

.login-form {
  width: 60%;
  margin: 0 auto;
  background-color: $frosty !important;
  text-align: center;
  margin-top: 10%;
  padding-bottom: 3%;
  padding-top: 2px;
  border-radius: 5px;
}

h3 {
  margin: 30px auto 0 auto;
  color: #fff;
  width: 45%;
  text-align: center;
  font-size: 200%;
}



.login-container {
  text-align: center;
  width: auto;
  margin: 15px auto;


  .row {
    text-align: center;
  }

  input {
    text-align: center;
    margin-bottom: 10px;
    border-radius: 4px;
    
    &:first-of-type {
      margin-top: 15px;
      margin-right: 10px;
    }
  }

  button {
    margin-top: 5px;
  }

}

@media screen and (max-width: 900px) {
  .login-form {
    width: 75%;
    margin: 0.5% auto;
    text-align: center;

    input {
      &:first-of-type {
        margin-right: 0;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .login-form {
    margin-top: 2%;
  }
}