$primary-color-1: #FF574F;
$primary-color-2: #902919;
$primary-color-3: #7B2315;
$primary-color-4: #58230F;
$primary-color-5: #482303;
$frosty: rgba(255, 255, 255, 0.2);

$primary-font:'Roboto',
sans-serif;
$primary-font-size: 20px;
$secondary-font: 'Unica One',
sans-serif;
$primary-font-weight: 300;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: $primary-font-size;
}

body {
  font-family: $primary-font;
  font-weight: $primary-font-weight;
  text-rendering: optimizeLegibility;
  background-color: #fff;
}

#main-name {
  width: 100%;
  color: #fff;
  font-family: $secondary-font;
  margin-bottom: 0;
  text-align: center;
  letter-spacing: 0.5em;
  font-size: 125px;
  margin-right: -10px;
  background-image: linear-gradient(to right, $primary-color-1 75%, transparent 75%);
  background-position: 1em 1.04em;
  background-repeat: repeat-x;
  background-size: 100% 3px;


  @media (max-width: 1100px) {
    letter-spacing: 0.2em;
  }

  @media (max-width: 700px) {
    letter-spacing: 0.1em;
  }

  @media (max-width: 450px) {
    letter-spacing: normal;
    font-size: 80px;
  }
}

.main {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/rayia-soderberg-UrJxxnUNqOo-unsplash.jpg);
  background-size: cover;
  background-position: center;
}

.btn-main {
  border: 2px solid $primary-color-1;
  padding: 3px 15px;
  border-radius: 50px;
  color: #fff;
  background-color: $primary-color-1;
  transition: 0.2s;
  margin: 20px 10px;

  &:hover {
    background-color: darken($color: $primary-color-1, $amount: 10%);
    ;
    border-color: darken($color: $primary-color-1, $amount: 10%);
  }
}

input {
  border-radius: 5px;
}

.container {
  height: 100vh;
  width: 100%;
  overflow: scroll;

  .navbar {
    float: right;
    width: 100%;
    margin-bottom: 25px;
    z-index: 1;

    .logo {
      height: 100px;
      width: auto;
      float: left;
      margin: 25px 0 0 35px;
    }

    a {
      text-decoration: none;
      margin: 40px 20px;
      color: #fff;
      float: right;
      transition: 0.2s;
      border: 2px solid transparent;
      padding: 4px 15px;

      &:hover {
        padding: 4px 15px;
        border: 2px solid $primary-color-1;
        border-radius: 50px;
      }
    }
  }
}

@media screen and (max-width: 1140px) {
  .container {
    .navbar {
      margin-bottom: 45px;
      position: sticky;

      .logo {
        margin: 15px 0 0 15px;
        height: 65px;
        width: auto;
      }

      a {
        margin: 30px 0;
      }
    }

  }
}
