@import './config';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: $primary-font;
  font-size: $primary-font-size;
  font-weight: $primary-font-weight;
  text-rendering: optimizeLegibility;
  background-color: $primary-color-4;
}

.aside,
.Section {
  // border: 1px red solid;
  display: inline-flex;
  // padding: 0;
  margin: 0;
  height: 100vh;
}

.main-home {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/produce-delivery.jpg);
  background-size: cover;
  background-position: center;
}

.main-logo {
  height: 100px;
  width: auto;
  float: left;
  margin: 25px 0 0 35px;
}

.container {
  height: 100vh;
  width: 100%;

  .navbar {
    float: right;
    width: 100%;

    a {
      text-decoration: none;
      margin: 40px 40px;
      color: #fff;
      float: right;
      transition: 0.2s;

      &:hover {
        border-bottom: 2px solid #FF5722;
      }
    }
  }
}

.main-home-text {
  position: absolute;
  width: 1140px;
  top: 45%;
  left: 50%;
  color: #fff;
  transform: translate(-50%, -50%);
  font-size: 120%;
  a {
    text-decoration: none;
    border: 2px solid #fff;
    padding: 3px 12px;
    border-radius: 50px;
    color: #fff;
    transition: 0.2s;

    &:hover {
      border-color: #FF5722;
    }
  }
}

.main-info{
  width: 90%;
  margin: 0 auto;
  div{
    border: 1px solid red;
    height: 560px;
  }
}



.wrapper {
  width: 85%;
  margin: 0 auto;
}



.Section {
  padding-left: 30px;
  background-color: #fff;

  div {
    width: 100%;

    p {
      width: 100%;
      padding-top: 10px;
    }
  }
}

.aside {
  background-color: $primary-color-2;

  .btn {
    background-color: $primary-color-2;
    color: #fff;
    width: 100%;
    padding: 20px 0;
    border: none;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      background-color: $primary-color-1;
    }

    &:focus,
    &:active {
      outline: none;
      background-color: $primary-color-1;
    }
  }
}

.header {
  background-color: $primary-color-1;
  border: $primary-color-2 1px solid;
  width: 100%;
  height: auto;
  justify-content: center;
  color: #fff;

  h1 {
    padding: none;
    margin: none;
  }
}