@import "./config";

.Section {
  color: white;
  margin: 5% auto;
  background-color: $frosty;
  border-radius: 5px;
  padding-bottom: 3%;
  overflow: scroll;

  .accountH1,
  .pickupH1,
  table,
  form {
    margin-left: 25px;
    width: 75%;
  }

  .inventoryH1 {
    margin-left: 25px;
    width: 75%;
  }

  h2 {
    margin: 3% 5%;
  }

  td {
    border-bottom: 1px solid black;
    padding-right: 1%;
    // margin-right: 190px;

    &:hover {
      background-color: darken($color: $frosty, $amount: 10%);
    }
  }
}

.formInput {
  margin-top: 2%;

  input {
    margin-left: 1%;
  }
}

.edit-container {
  width: 75%;
  margin: 0 auto;
  text-align: center;

  p,
  button {
    margin-top: 10px;
  }
}

.search-bar {
  input {
    margin: 0 3%;
  }
}

.btn-acct {
  color: #fff;
  width: 100%;
  height: 40px;
  border-radius: 0px;
  border: 2px solid transparent;
  margin: 0;
  background-color: rgba($primary-color-1, 0.6);

  &:active,
  &:hover,
  &:focus {
    background-color: $primary-color-1;
  }
}

.search-bar {
  input {
    margin: 0 3%;
  }
}

@media screen and (max-width: 900px) {
  .Section {
    margin-top: 1%;
    padding-top: 20px;
    padding-bottom: 40px;

    .sectionH1,
    .pickupH1 {
      text-align: center;
      margin: 0 auto;
      margin-bottom: 12%;
      font-size: 175%;
    }

    .accountH1 {
      text-align: center;
      margin: 0 auto;
      margin-bottom: 12%;
      font-size: 150%;
    }

    .inventoryH1 {
      text-align: center;
      margin: 0 auto;
      margin-bottom: 3%;
      font-size: 175%;
    }

    .city-search {
      margin: 0;
    }

    .formInput {
      margin-top: 5%;

      input {
        display: block;
      }
    }

    h1 {
      text-align: center;
      margin: 5% 0;
    }

    h2 {
      margin: 3% 5%;
      // font-weight: 200;
      text-align: center;
    }

    table {
      width: 85%;
    }

    td {
      font-size: 80%;
      width: 100%;
    }

    th {
      margin-bottom: 4%;
    }
  }
}

@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
  /* Force table to not be like tables anymore */
  .inventoryTable,
  .inventoryTHead,
  .inventoryTBody,
  .inventoryTH,
  .inventoryTD,
  .inventoryTR {
    display: block;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  .inventoryTHead .inventoryTR {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  .inventoryTR {
    border: 1px solid #ccc;
  }

  .inventoryTD {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
  }

  .inventoryTD:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */

    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }
  /*
	Label the data
	*/
  .inventoryTD:nth-of-type(1):before {
    content: "Food Item";
  }
  .inventoryTD:nth-of-type(2):before {
    content: "Quantity";
  }
  .inventoryTD:nth-of-type(3):before {
    content: "Unit";
  }
  .inventoryTD:nth-of-type(4):before {
    content: "Value per Unit";
  }
  .inventoryTD:nth-of-type(5):before {
    content: "Expiration Date";
  }
}

// Modal
.modaloverlay{
  background:rgba(0,0,0,0.8);
  bottom:0;
  left:0;
  opacity:0;
  pointer-events:none;
  position:fixed;
  right:0;
  top:0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  z-index:-1;
  display: none;
  &:target{
    display: block;
    opacity:1;
    pointer-events:auto;
    z-index:99999;
  }
}
  .modal{
    background-color:white;
    height: 100%;
    position:relative;
    margin:0 auto;
    padding:3em;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    @media (min-width: 60em) {
      height:75%;
  	 margin:5% auto;
  	 max-height: 57em;
      max-width:66em;
      width:85%;
  	}
	> iframe, > div{
		border:none;
		width: 85%;
		height: 50%;
    }
  }
  // .close{
  //   color:black;
  //   font-size:24px;
  //   padding:8px 12px;
  //   position:absolute;
  //   right:0;
  //   text-align:center;
  //   text-decoration:none;
  //   top:0;
  //   z-index: 1;
  // }


