@import './config';

.aside {
  float: left;
}

.Section {
  float: left;
  color: white;
  margin-top: 5%;
  margin-left: 35px;
  background-color: $frosty;
  border-radius: 5px;
  padding-bottom: 3%;
  overflow: scroll;

  h1,
  table {
    margin-left: 25px;
    width: 75%;
  }

  h2 {
    margin: 3% 5%;
  }

  td {
    border-bottom: 1px solid black;
    padding-right: 1%;
    // margin-right: 190px;

    &:hover {
      background-color: darken($color: $frosty, $amount: 10%);
    }
  }
}

.search-bar {
  input {
    margin: 0 3%;
  }
}


.btn-acct {
  color: #fff;
  width: 100%;
  height: 40px;
  border-radius: 0px;
  border: 2px solid transparent;
  margin: 0;
  background-color: rgba($primary-color-1, 0.6);

  &:active,
  &:hover,
  &:focus {
    background-color: $primary-color-1;
  }
}

@media screen and (max-width: 900px) {
  .Section {
    width: 100%;
    margin-left: 0;

    h1 {
      text-align: center;
      margin: 5% 0;
    }

    h2 {
      margin: 3% 5%;
    }

    table {
      margin-left: 4%;
      width: 85%;
    }

    td {
      font-size: 80%;
      width: 100%;
    }

    th {
      margin-bottom: 4%;
    }
  }
}